vidforge
*.exe
*.out
*.bin

/build/
dist/
*.log

.vscode/
.idea/
*.swp
*.swo
*.bak

vendor/

.DS_Store
Thumbs.db

*.test

coverage.*
*.coverprofile

internal/bootstrap/binaries/**/*.zip
internal/bootstrap/binaries/**/*.tar.xz
internal/bootstrap/binaries/**/*.dylib
internal/bootstrap/binaries/**/*.md
internal/bootstrap/binaries/**/*.txt
